# App config
APP_URL="MY_APP_URL"

# SMTP Email Configuration: Update these in your environment variables/secrets to receive real form submission emails
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER=""
SMTP_PASS=""
SMTP_TO="abelev48@gmail.com"
